.header {
  &__socialBar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dusty-pink);
    color: var(--gretprup);
    padding: 22px 120px;
    .socialBar__icon {
      width: 19.33px;
      height: 16px;
      &:nth-child(1) {
        padding-right: 32px;
      }
    }
  }
  &__navBar {
    background-color: var(--white);
    padding-right: 120px;
    padding-top: 70px;
    margin-left: 60px;
    color: var(--dark-grey) !important;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .navbar__links {
        padding-right: 60px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        &:nth-last-child(1){
            padding-right: 0px;
        }
        a{
            color: var(--dark-grey) !important;
        }
        
      }
      .navbar__logo {
        flex: 1;
        font-size: 25px;
        font-weight: 700px;
        margin-left: 35px;
      }

      .navbar__bars {
        display: none;
        font-size: 25px;
        color: rgb(0, 0, 0);
      }
    }
  }
}
