@font-face {
  font-family: "Galaxie Copernicus";
  src: url("../../../fonts/GalaxieCopernicus-Book.otf");
}
@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter-VariableFont_slnt,wght.ttf");
}
:root {
  --header-height: 3.5rem;
  /* Color */
  --dusty-pink: #F2EFEE;
  --dark-blue: #003A92;
  --mid-grey: #C4C4C4;
  --gretprup: #74788A;
  --dark-grey: #3c3c3c;
  --dark-red: #8C2531;
  --beige: #D7C3AE;
  --white: #FFFFFF;
  /* Font and typography */
  --header-font: "Galaxie Copernicus";
  --body-font: "Inter";
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --h5-font-size: 14px;
  --h5-font-size: 10px;
  --p1-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* Font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /* Margin Bottom */
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 64px;
    --h2-font-size: 44px;
    --h3-font-size: 32px;
    --h5-font-size: 24px;
    --h6-font-size: 14px;
    --p1-font-size: 18px;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--dusty-pink) !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  font-weight: var(--font-normal);
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

/* For small devices */
@media screen and (max-width: 400px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav_list {
    column-gap: 0;
  }
}
.hero {
  position: relative;
  z-index: -1;
  padding-bottom: 60px;
}
.hero__bg {
  height: 100%;
  width: 98%;
  background-color: var(--white);
  position: absolute;
  bottom: 295px;
  right: 0;
  z-index: -2;
  margin-left: 85px;
}
.hero__main {
  margin-top: 40px;
  margin-left: 85px;
  margin-right: 100px;
}
.hero__main .main__text {
  color: var(--dark-blue);
  font-family: var(--header-font);
  font-size: var(--h1-font-size);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.02em;
  width: 60%;
  font-style: normal;
}
.hero__main .main__button {
  float: right;
}
.hero__image {
  margin-top: 80px;
  max-height: 565px;
  display: flex;
  justify-content: flex-end;
}
.hero__image img {
  width: 95%;
  float: right;
  transform-origin: top center;
}

@media only screen and (max-width: 768px) {
  .hero {
    margin-left: 16px;
  }
  .hero__main {
    padding: 0 25px !important;
    margin: 20px 5px 0px 5px;
  }
  .hero .main__button {
    margin-top: 20px !important;
    float: left !important;
  }
  .hero .main__text {
    width: 70.75%;
  }
  .hero__bg {
    bottom: 150px;
  }
  .hero__image {
    margin-top: 50px !important;
    margin-left: 16px;
  }
  .hero__image img {
    height: 196px;
  }
}
.button {
  display: flex;
  align-items: center;
}
.button__text, .button__icon {
  padding: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.button__text p, .button__icon p {
  color: var(--dark-grey) !important;
  margin-bottom: 0px;
}
.button__text {
  border-right: 1px solid var(--mid-grey) !important;
}
.button__text p {
  font-family: var(--body-font);
}
.button__icon {
  display: grid;
  place-items: center;
}
.button--primary {
  background-color: var(--white);
  border: 1px solid var(--mid-grey);
  border-radius: 2px;
}
@media (max-width: 768px) {
  .button__text, .button__icon {
    padding: 13px;
  }
}

.news {
  padding: 120px 60px;
}
.news__heading {
  color: var(--dark-blue);
}
.news__layout {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.news__layout::-webkit-scrollbar {
  display: none;
}
.news__layout .news__item {
  border: 1px solid #fff;
  padding: 40px;
  color: var(--dark-grey);
}
.news__layout .news__item h2 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: var(--font-normal);
  font-size: var(--h2-font-size);
  line-height: 120%;
  letter-spacing: -0.02em;
}
.news__layout .news__item h3 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: var(--font-normal);
  font-size: var(--h3-font-size);
  line-height: 120%;
  letter-spacing: -0.02em;
}
.news__layout .news__item p {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: var(--font-normal);
  font-size: var(--p1-font-size);
  line-height: 140%;
  letter-spacing: -0.01em;
}
.news__layout .news__item h5 {
  font-size: var(--h5-font-size);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: var(--font-bold);
}
.news__layout .news__item h6 {
  font-size: var(--h6-font-size);
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.news__layout .news__item .item__heading {
  color: var(--dark-blue);
}
.news__layout .news__item .item__image {
  height: 250px;
  background-size: cover;
}
.news__layout .news__item .item__date {
  margin-top: 20px;
  gap: 5px;
}
.news__layout .news__item .item__date > * {
  color: var(--gretprup);
}
.news__layout .news__item .item__desc {
  margin-top: 16px;
}
.news__layout .news__item:nth-child(1) {
  border: none;
  grid-column: 1/3;
  display: grid;
  align-items: flex-end;
  padding-bottom: 60px;
}
.news__layout .news__item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/4;
}
.news__layout .news__item:nth-child(3) {
  grid-column: 3/5;
  grid-row: 1/3;
}
.news__layout .news__item:nth-child(4) {
  grid-column: 3/4;
  grid-row: 3/5;
}
.news__layout .news__item:nth-child(5) {
  grid-column: 4/5;
  grid-row: 3/5;
}
.news__layout .news__item:nth-child(6) {
  border: none;
  grid-column: 1/3;
  grid-row: 4/5;
}

@media (max-width: 768px) {
  .news {
    padding: 32px;
    padding-right: 0;
  }
  .news__layout {
    overflow: scroll;
    grid-template-columns: repeat(9, 150px);
  }
  .news__layout .news__item:nth-child(1) {
    grid-column: 1/3;
    position: sticky;
    left: 0;
  }
  .news__layout .news__item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .news__layout .news__item:nth-child(3) {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .news__layout .news__item:nth-child(4) {
    grid-column: 5/7;
    grid-row: 2/4;
  }
  .news__layout .news__item:nth-child(5) {
    grid-column: 7/9;
    grid-row: 2/4;
  }
  .news__layout .news__item:nth-child(6) {
    grid-column: 1/3;
    position: sticky;
    left: 0;
  }
  .news__layout .news__item:nth-child(1), .news__layout .news__item:nth-child(6) {
    padding: 16px 0;
  }
}

/*# sourceMappingURL=main.css.map */
