.beneficiaries {
  padding: 80px 120px 193px 120px;
  background-color: var(--white);
  &__heading {
    color: var(--dark-blue);
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 330px);
    gap: 60px;
    overflow-x: scroll;
    margin-top: 50px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .container__card {
      .card {
        &__image {
          height: 350px;
          background-color: var(--dusty-pink);
          background-size: cover;
          background-position: center;
        }
        &__text {
          margin-top: 15px;
          width: 250px;
        }
      }
    }
  }
}

