.founders{
    padding: 80px 0px 0px 0px;
    position: relative;
    color: var(--white);
    background-image: linear-gradient(to bottom, var(--beige) 70%, var(--white) 30%) ;
    z-index: -2;
    &__heading{
       padding-left: 120px;
    }
    &__container{
        padding-left: 60px;
        padding-right: 60px;
        .container__all-founders{
            margin-top: 60px;
            .all-founders__founder{
                height: 40vw;
                margin: auto;
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: flex-end;
                z-index: -1;
                .founder__detail{
                    padding: 60px
                }
                &:last-child{
                    margin-top: 20px;
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .founders{
        padding: 40px 32px;
        background-image: linear-gradient(to bottom, var(--beige) 50%, var(--white),  var(--white) 50%) ;
        &__heading{
           padding-left: 16px;
        }
        &__container{
            padding-left: 16px;
            padding-right: 16px;
            .container__all-founders{
                margin-top: 16px;
                .all-founders__founder{
                    .founder__detail{
                        padding-bottom: 3px;
                        padding-right: 32px;
                        padding-left: 16px;
                    }
                    &:last-child{
                        display: flex;
                    }
                    .founder__name:nth-child(2){
                        display: none;
                    }
                }
            }
        }
    }
  }
  